#!/usr/bin/env bash
apt-get update
apt-get install -y haproxy

cat > /etc/haproxy/haproxy.cfg << EOT
${haproxycfg}
EOT

%{ for i,ip in lb_ips }
ifconfig ens5:${i} ${ip}
%{ endfor ~}

/etc/init.d/haproxy restart
