defaults
    mode tcp

%{ for name, bind in lb_binding }
# ${name}
frontend ${name}
    bind ${bind["ip"]}:5432
    default_backend ${name}

backend ${name}
    %{ for dbname, dbserver in bind.backend }
    # ${dbname}
    server db ${dbserver}
    %{ endfor ~}
%{ endfor ~}